.Bottom {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
  bottom: 4vh;
}

.swipeButtons {
  background-color: white;
  padding: 3vw;
  box-shadow: 0px 10px 53px 0px rgba(0,0,0,0.3);
}

.Bottom__replay {
  color: #f5b748!important;
}

.Bottom__close {
  color: #ec5e6f!important;
}

.Bottom__star {
  color: #62b4f9!important;
}

.Bottom__favorite {
  color: #76e2b3!important;
}

.Bottom__flash {
  color: #915dd1!important;
}